{
    "openapi": "3.0.0",
    "info": {
        "title": "B2B/B2C E-Commerce API Documentation",
        "description": "Comprehensive API for B2B and B2C e-commerce platform with multi-currency support, dealer management, advanced product catalog, and domain-based security. The API provides both public endpoints (for catalog browsing) and protected endpoints (for user-specific operations).",
        "contact": {
            "name": "API Support Team",
            "email": "support@mutfakyapim.net"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "https://b2bb2c.mutfakyapim.net",
            "description": "Production API Server (Domain-protected)"
        },
        {
            "url": "http://127.0.0.1:8000",
            "description": "Development API Server (Open access)"
        }
    ],
    "paths": {
        "/api/v1/addresses": {
            "get": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Adresleri listele",
                "description": "Kimliği doğrulanmış kullanıcının tüm adreslerini getirir",
                "operationId": "getAddresses",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Adres tipi filtresi (teslimat, fatura veya her ikisi)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "shipping",
                                "billing",
                                "both"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Adresler başarıyla getirildi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AddressResource"
                                            }
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Adresler başarıyla getirildi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Adres oluştur",
                "description": "Kimliği doğrulanmış kullanıcı için yeni bir adres oluşturur",
                "operationId": "createAddress",
                "requestBody": {
                    "description": "Adres bilgileri",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "first_name",
                                    "last_name",
                                    "address_line_1",
                                    "city",
                                    "postal_code",
                                    "country"
                                ],
                                "properties": {
                                    "title": {
                                        "description": "Adres başlığı",
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Ev"
                                    },
                                    "first_name": {
                                        "description": "Ad",
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Ahmet"
                                    },
                                    "last_name": {
                                        "description": "Soyad",
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Yılmaz"
                                    },
                                    "company_name": {
                                        "description": "Şirket adı",
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "ABC Şirket",
                                        "nullable": true
                                    },
                                    "phone": {
                                        "description": "Telefon numarası",
                                        "type": "string",
                                        "maxLength": 20,
                                        "example": "+90 555 123 4567",
                                        "nullable": true
                                    },
                                    "address_line_1": {
                                        "description": "Adres satırı 1",
                                        "type": "string",
                                        "example": "Atatürk Caddesi No:123"
                                    },
                                    "address_line_2": {
                                        "description": "Adres satırı 2",
                                        "type": "string",
                                        "example": "Daire 4B",
                                        "nullable": true
                                    },
                                    "city": {
                                        "description": "Şehir",
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "İstanbul"
                                    },
                                    "state": {
                                        "description": "İl/Eyalet",
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "İstanbul",
                                        "nullable": true
                                    },
                                    "postal_code": {
                                        "description": "Posta kodu",
                                        "type": "string",
                                        "maxLength": 20,
                                        "example": "34000"
                                    },
                                    "country": {
                                        "description": "Ülke",
                                        "type": "string",
                                        "maxLength": 2,
                                        "example": "TR"
                                    },
                                    "type": {
                                        "description": "Adres türü",
                                        "type": "string",
                                        "enum": [
                                            "shipping",
                                            "billing",
                                            "both"
                                        ],
                                        "example": "both"
                                    },
                                    "is_default_shipping": {
                                        "description": "Varsayılan teslimat adresi mi",
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "is_default_billing": {
                                        "description": "Varsayılan fatura adresi mi",
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "notes": {
                                        "description": "Notlar",
                                        "type": "string",
                                        "example": "Zili çalın",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Adres başarıyla oluşturuldu",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AddressResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Adres başarıyla oluşturuldu"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/addresses/{id}": {
            "get": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Adres detaylarını getir",
                "description": "Belirtilen ID'ye göre adres detaylarını getirir",
                "operationId": "getAddress",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Adres benzersiz kimliği",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Adres başarıyla getirildi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AddressResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Adres başarıyla getirildi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Adresi güncelle",
                "description": "Belirli bir adresi günceller",
                "operationId": "updateAddress",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Adres benzersiz kimliği",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Güncellenecek adres bilgileri",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "title": {
                                        "description": "Adres başlığı",
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Ev"
                                    },
                                    "first_name": {
                                        "description": "Ad",
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Ahmet"
                                    },
                                    "last_name": {
                                        "description": "Soyad",
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Yılmaz"
                                    },
                                    "company_name": {
                                        "description": "Şirket adı",
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "ABC Şirket",
                                        "nullable": true
                                    },
                                    "phone": {
                                        "description": "Telefon numarası",
                                        "type": "string",
                                        "maxLength": 20,
                                        "example": "+90 555 123 4567",
                                        "nullable": true
                                    },
                                    "address_line_1": {
                                        "description": "Adres satırı 1",
                                        "type": "string",
                                        "example": "Atatürk Caddesi No:123"
                                    },
                                    "address_line_2": {
                                        "description": "Adres satırı 2",
                                        "type": "string",
                                        "example": "Daire 4B",
                                        "nullable": true
                                    },
                                    "city": {
                                        "description": "Şehir",
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "İstanbul"
                                    },
                                    "state": {
                                        "description": "İl/Eyalet",
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "İstanbul",
                                        "nullable": true
                                    },
                                    "postal_code": {
                                        "description": "Posta kodu",
                                        "type": "string",
                                        "maxLength": 20,
                                        "example": "34000"
                                    },
                                    "country": {
                                        "description": "Ülke",
                                        "type": "string",
                                        "maxLength": 2,
                                        "example": "TR"
                                    },
                                    "type": {
                                        "description": "Adres türü",
                                        "type": "string",
                                        "enum": [
                                            "shipping",
                                            "billing",
                                            "both"
                                        ],
                                        "example": "both"
                                    },
                                    "is_default_shipping": {
                                        "description": "Varsayılan teslimat adresi mi",
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "is_default_billing": {
                                        "description": "Varsayılan fatura adresi mi",
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "notes": {
                                        "description": "Notlar",
                                        "type": "string",
                                        "example": "Zili çalın",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Adres başarıyla güncellendi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AddressResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Adres başarıyla güncellendi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Adresi sil",
                "description": "Belirli bir adresi siler (geçici silme)",
                "operationId": "deleteAddress",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Adres benzersiz kimliği",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Adres başarıyla silindi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Adres başarıyla silindi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/addresses/{id}/set-default-shipping": {
            "post": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Varsayılan teslimat adresini ayarla",
                "description": "Belirtilen adresi varsayılan teslimat adresi olarak ayarlar",
                "operationId": "setDefaultShipping",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Adres benzersiz kimliği",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Varsayılan teslimat adresi başarıyla ayarlandı",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AddressResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Varsayılan teslimat adresi başarıyla ayarlandı"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "description": "Adres teslimat için kullanılamaz",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Bu adres teslimat için kullanılamaz"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/addresses/{id}/set-default-billing": {
            "post": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Varsayılan fatura adresini ayarla",
                "description": "Belirtilen adresi varsayılan fatura adresi olarak ayarlar",
                "operationId": "setDefaultBilling",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Adres benzersiz kimliği",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Varsayılan fatura adresi başarıyla ayarlandı",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AddressResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Varsayılan fatura adresi başarıyla ayarlandı"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "description": "Adres fatura için kullanılamaz",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Bu adres fatura için kullanılamaz"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/addresses/defaults": {
            "get": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Varsayılan adresleri getir",
                "description": "Kullanıcının varsayılan teslimat ve fatura adreslerini getirir",
                "operationId": "getDefaultAddresses",
                "responses": {
                    "200": {
                        "description": "Varsayılan adresler başarıyla getirildi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "description": "Varsayılan adresler",
                                            "properties": {
                                                "shipping": {
                                                    "oneOf": [
                                                        {
                                                            "$ref": "#/components/schemas/AddressResource"
                                                        }
                                                    ],
                                                    "nullable": true,
                                                    "description": "Varsayılan teslimat adresi"
                                                },
                                                "billing": {
                                                    "oneOf": [
                                                        {
                                                            "$ref": "#/components/schemas/AddressResource"
                                                        }
                                                    ],
                                                    "nullable": true,
                                                    "description": "Varsayılan fatura adresi"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Varsayılan adresler başarıyla getirildi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/auth/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Kullanıcı girişi",
                "description": "Kullanıcı girişi yapın ve hız sınırlaması ile erişim belirteci alın",
                "operationId": "loginUser",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "E-posta adresi",
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "description": "Şifre",
                                        "type": "string",
                                        "example": "password123"
                                    },
                                    "device_name": {
                                        "description": "Cihaz adı",
                                        "type": "string",
                                        "example": "mobile_app"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Giriş başarılı",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "İşlem durumu",
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "description": "Başarı mesajı",
                                            "type": "string",
                                            "example": "Giriş başarılı"
                                        },
                                        "data": {
                                            "description": "Giriş verileri",
                                            "properties": {
                                                "user": {
                                                    "description": "Kullanıcı bilgileri",
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "description": "Erişim belirteci",
                                                    "type": "string",
                                                    "example": "1|abc123def456..."
                                                },
                                                "refresh_token": {
                                                    "description": "Yenileme belirteci",
                                                    "type": "string",
                                                    "example": "2|xyz789abc123..."
                                                },
                                                "expires_at": {
                                                    "description": "Belirteç bitiş tarihi",
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Geçersiz giriş bilgileri",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "İşlem durumu",
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "description": "Hata mesajı",
                                            "type": "string",
                                            "example": "Geçersiz giriş bilgileri"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Doğrulama hatası",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "İşlem durumu",
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "description": "Hata mesajı",
                                            "type": "string",
                                            "example": "Doğrulama başarısız"
                                        },
                                        "errors": {
                                            "description": "Doğrulama hataları",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Çok fazla giriş denemesi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "İşlem durumu",
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "description": "Hata mesajı",
                                            "type": "string",
                                            "example": "Çok fazla giriş denemesi. Lütfen daha sonra tekrar deneyin."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Kullanıcı kaydı",
                "description": "Yeni bir kullanıcı hesabı kaydedin",
                "operationId": "registerUser",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "Ad soyad",
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "description": "E-posta adresi",
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "description": "Şifre",
                                        "type": "string",
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "description": "Şifre onayı",
                                        "type": "string",
                                        "example": "password123"
                                    },
                                    "phone": {
                                        "description": "Telefon numarası",
                                        "type": "string",
                                        "example": "+905551234567"
                                    },
                                    "customer_type": {
                                        "description": "Müşteri tipi",
                                        "type": "string",
                                        "enum": [
                                            "B2C",
                                            "B2B"
                                        ],
                                        "example": "B2C"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Kayıt başarılı",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "İşlem durumu",
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "description": "Başarı mesajı",
                                            "type": "string",
                                            "example": "Kayıt başarılı. Lütfen doğrulama için e-postanızı kontrol edin."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Doğrulama hatası",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "İşlem durumu",
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "description": "Hata mesajı",
                                            "type": "string",
                                            "example": "Doğrulama başarısız"
                                        },
                                        "errors": {
                                            "description": "Doğrulama hataları",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/refresh": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Erişim belirtecini yenile",
                "description": "Yenileme belirtecini kullanarak erişim belirtecini yenileyin",
                "operationId": "refreshToken",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "refresh_token"
                                ],
                                "properties": {
                                    "refresh_token": {
                                        "description": "Yenileme belirteci",
                                        "type": "string",
                                        "example": "2|xyz789abc123..."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Belirteç başarıyla yenilendi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "İşlem durumu",
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "description": "Yenilenen belirteç verileri",
                                            "properties": {
                                                "token": {
                                                    "description": "Yeni erişim belirteci",
                                                    "type": "string"
                                                },
                                                "expires_at": {
                                                    "description": "Bitiş tarihi",
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Geçersiz yenileme belirteci",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "İşlem durumu",
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "description": "Hata mesajı",
                                            "type": "string",
                                            "example": "Geçersiz yenileme belirteci"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/auth/forgot-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Şifre sıfırlama e-postası gönder",
                "description": "Kullanıcının e-postasına şifre sıfırlama bağlantısı gönderin",
                "operationId": "forgotPassword",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "E-posta adresi",
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Şifre sıfırlama e-postası gönderildi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "İşlem durumu",
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "description": "Başarı mesajı",
                                            "type": "string",
                                            "example": "Şifre sıfırlama bağlantısı e-postanıza gönderildi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Doğrulama hatası",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "İşlem durumu",
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "description": "Hata mesajı",
                                            "type": "string",
                                            "example": "Doğrulama başarısız"
                                        },
                                        "errors": {
                                            "description": "Doğrulama hataları",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/reset-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Şifreyi sıfırla",
                "description": "E-postadaki belirteci kullanarak şifreyi sıfırlayın",
                "operationId": "resetPassword",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "token",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "Sıfırlama belirteci",
                                        "type": "string",
                                        "example": "reset-token-here"
                                    },
                                    "email": {
                                        "description": "E-posta adresi",
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "description": "Yeni şifre",
                                        "type": "string",
                                        "example": "newpassword123"
                                    },
                                    "password_confirmation": {
                                        "description": "Yeni şifre onayı",
                                        "type": "string",
                                        "example": "newpassword123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Şifre sıfırlama başarılı",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "İşlem durumu",
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "description": "Başarı mesajı",
                                            "type": "string",
                                            "example": "Şifre sıfırlama başarılı"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Validation failed"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/verify-email": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "E-posta adresini doğrula",
                "description": "Doğrulama belirtecini kullanarak e-posta adresini doğrulayın",
                "operationId": "verifyEmail",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "token"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "Doğrulama belirteci",
                                        "type": "string",
                                        "example": "verification-token-here"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "E-posta başarıyla doğrulandı",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "İşlem durumu",
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "description": "Başarı mesajı",
                                            "type": "string",
                                            "example": "E-posta başarıyla doğrulandı"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid verification token"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/resend-verification": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "E-posta doğrulamasını yeniden gönder",
                "description": "E-posta doğrulama bağlantısını yeniden gönderin",
                "operationId": "resendVerification",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Doğrulama e-postası gönderildi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "İşlem durumu",
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "description": "Başarı mesajı",
                                            "type": "string",
                                            "example": "Doğrulama e-postası gönderildi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Validation failed"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Kullanıcı çıkışı",
                "description": "Kullanıcı çıkışı yapın ve erişim belirtecini iptal edin",
                "operationId": "logoutUser",
                "responses": {
                    "200": {
                        "description": "Çıkış başarılı",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "İşlem durumu",
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "description": "Başarı mesajı",
                                            "type": "string",
                                            "example": "Çıkış başarılı"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Kimlik doğrulaması yapılmamış",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Hata mesajı",
                                            "type": "string",
                                            "example": "Kimlik doğrulaması gerekli"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/auth/user": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Mevcut kullanıcıyı al",
                "description": "Kimliği doğrulanmış kullanıcı bilgilerini alın",
                "operationId": "getCurrentUser",
                "responses": {
                    "200": {
                        "description": "Kullanıcı bilgileri alındı",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "İşlem durumu",
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "description": "Kullanıcı verileri",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Kimlik doğrulaması yapılmamış"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/campaigns": {
            "get": {
                "tags": [
                    "Campaigns"
                ],
                "summary": "Aktif kampanyaları listele",
                "description": "Müşteri tipine göre geçerli kampanyaları getirir",
                "operationId": "617d936d65b29bf3912371d823eceba3",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Kampanya tipi filtresi",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "buy_x_get_y_free",
                                "bundle_discount",
                                "cross_sell"
                            ],
                            "example": "bundle_discount"
                        }
                    },
                    {
                        "name": "customer_type",
                        "in": "query",
                        "description": "Müşteri tipi (B2B: işletme, B2C: bireysel, Guest: misafir)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "b2b",
                                "b2c",
                                "guest"
                            ],
                            "example": "b2c"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Sayfa başına kampanya sayısı (maksimum: 50)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15,
                            "maximum": 50,
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İstek başarıyla tamamlandı",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "İşlem durumu",
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "description": "Başarı mesajı",
                                            "type": "string",
                                            "example": "Kampanyalar başarıyla getirildi"
                                        },
                                        "data": {
                                            "description": "Kampanya verileri",
                                            "properties": {
                                                "current_page": {
                                                    "description": "Mevcut sayfa numarası",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "per_page": {
                                                    "description": "Sayfa başına öğe sayısı",
                                                    "type": "integer",
                                                    "example": 15
                                                },
                                                "total": {
                                                    "description": "Toplam kampanya sayısı",
                                                    "type": "integer",
                                                    "example": 25
                                                },
                                                "campaigns": {
                                                    "description": "Kampanya listesi",
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "description": "Kampanya ID",
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "description": "Kampanya adı",
                                                                "type": "string",
                                                                "example": "Kışlık İndirim Kampanyası"
                                                            },
                                                            "slug": {
                                                                "description": "URL dostu kampanya adı",
                                                                "type": "string",
                                                                "example": "kislik-indirim-kampanyasi"
                                                            },
                                                            "description": {
                                                                "description": "Kampanya açıklaması",
                                                                "type": "string",
                                                                "example": "Kışlık ürünlerde %30'a varan indirim fırsatı"
                                                            },
                                                            "type": {
                                                                "description": "Kampanya türü",
                                                                "type": "string",
                                                                "example": "bundle_discount"
                                                            },
                                                            "status": {
                                                                "description": "Kampanya durumu",
                                                                "type": "string",
                                                                "example": "active"
                                                            },
                                                            "priority": {
                                                                "description": "Öncelik sırası (1 en yüksek)",
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "minimum_cart_amount": {
                                                                "description": "Minimum sepet tutarı (TL)",
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 500
                                                            },
                                                            "starts_at": {
                                                                "description": "Başlangıç tarihi",
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-01-01T00:00:00.000000Z"
                                                            },
                                                            "ends_at": {
                                                                "description": "Bitiş tarihi",
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-01-31T23:59:59.000000Z"
                                                            },
                                                            "days_remaining": {
                                                                "description": "Kalan gün sayısı",
                                                                "type": "integer",
                                                                "example": 15
                                                            },
                                                            "usage_count": {
                                                                "description": "Kullanım sayısı",
                                                                "type": "integer",
                                                                "example": 125
                                                            },
                                                            "usage_limit": {
                                                                "description": "Kullanım limiti",
                                                                "type": "integer",
                                                                "example": 1000
                                                            },
                                                            "progress_percentage": {
                                                                "description": "İlerleme yüzdesi",
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 12.5
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/campaigns/{campaign}": {
            "get": {
                "tags": [
                    "Campaigns"
                ],
                "summary": "Kampanya detaylarını getir",
                "description": "Belirli bir kampanyanın tüm detaylarını ve kurallarını getirir",
                "operationId": "c61ae1adb555aa371b98056e538fd573",
                "parameters": [
                    {
                        "name": "campaign",
                        "in": "path",
                        "description": "Kampanya ID'si veya URL dostu adı (slug)",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "kislik-indirim-kampanyasi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Kampanya detayları başarıyla getirildi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "İşlem durumu",
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "description": "Başarı mesajı",
                                            "type": "string",
                                            "example": "Kampanya detayları getirildi"
                                        },
                                        "data": {
                                            "description": "Kampanya detay verileri",
                                            "properties": {
                                                "id": {
                                                    "description": "Kampanya benzersiz kimliği",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "description": "Kampanya başlığı",
                                                    "type": "string",
                                                    "example": "Kışlık İndirim Kampanyası"
                                                },
                                                "slug": {
                                                    "description": "URL dostu kampanya adı",
                                                    "type": "string",
                                                    "example": "kislik-indirim-kampanyasi"
                                                },
                                                "description": {
                                                    "description": "Kampanya detaylı açıklaması",
                                                    "type": "string",
                                                    "example": "Kışlık ürünlerde %30'a varan indirim fırsatı. Seçili ürünlerde geçerli."
                                                },
                                                "type": {
                                                    "description": "Kampanya türü",
                                                    "type": "string",
                                                    "example": "bundle_discount"
                                                },
                                                "rules": {
                                                    "description": "Kampanya kuralları ve koşulları",
                                                    "type": "object",
                                                    "example": {
                                                        "discount_percentage": 30,
                                                        "min_quantity": 2,
                                                        "max_discount": 500
                                                    }
                                                },
                                                "rewards": {
                                                    "description": "Kampanya ödülleri ve faydaları",
                                                    "type": "object",
                                                    "example": {
                                                        "type": "percentage",
                                                        "value": 30,
                                                        "description": "%30 indirim"
                                                    }
                                                },
                                                "conditions": {
                                                    "description": "Kampanya geçerlilik koşulları",
                                                    "type": "object",
                                                    "example": {
                                                        "min_cart_amount": 500,
                                                        "excluded_categories": [
                                                            "sale"
                                                        ]
                                                    }
                                                },
                                                "customer_types": {
                                                    "description": "Geçerli müşteri tipleri",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "example": [
                                                        "b2c",
                                                        "guest"
                                                    ]
                                                },
                                                "is_stackable": {
                                                    "description": "Diğer kampanyalarla birleştirilebilir mi",
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "products_count": {
                                                    "description": "Kampanyada yer alan ürün sayısı",
                                                    "type": "integer",
                                                    "example": 15
                                                },
                                                "categories_count": {
                                                    "description": "Kampanyada yer alan kategori sayısı",
                                                    "type": "integer",
                                                    "example": 3
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Kampanya bulunamadı",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "İşlem durumu",
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "description": "Hata mesajı",
                                            "type": "string",
                                            "example": "Aradığınız kampanya bulunamadı"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Kampanya erişim yetkisi yok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Bu kampanya sizin müşteri tipiniz için geçerli değil"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/campaigns/{campaign}/validate": {
            "post": {
                "tags": [
                    "Campaigns"
                ],
                "summary": "Kampanya geçerliliğini kontrol et",
                "description": "Mevcut sepet içeriğine göre kampanyanın uygulanabilir olup olmadığını kontrol eder ve indirim miktarını hesaplar",
                "operationId": "1c57c9b03bf28ac2675155751ec61720",
                "parameters": [
                    {
                        "name": "campaign",
                        "in": "path",
                        "description": "Kontrol edilecek kampanya ID'si",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "Sepet bilgileri",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "cart_total": {
                                        "description": "Sepet toplam tutarı (TL)",
                                        "type": "number",
                                        "format": "float",
                                        "example": 750
                                    },
                                    "cart_items": {
                                        "description": "Sepetteki ürünler",
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "product_id": {
                                                    "description": "Ürün ID'si",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "variant_id": {
                                                    "description": "Ürün varyant ID'si",
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "quantity": {
                                                    "description": "Ürün adedi",
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "price": {
                                                    "description": "Ürün birim fiyatı (TL)",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 250
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Kampanya geçerlilik kontrolü tamamlandı",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "İşlem durumu",
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "description": "İşlem açıklaması",
                                            "type": "string",
                                            "example": "Kampanya geçerliliği kontrol edildi"
                                        },
                                        "data": {
                                            "description": "Geçerlilik sonuçları",
                                            "properties": {
                                                "is_valid": {
                                                    "description": "Kampanya uygulanabilir mi",
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "applicable_discount": {
                                                    "description": "Uygulanabilir indirim miktarı (TL)",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 75
                                                },
                                                "discount_type": {
                                                    "description": "İndirim türü (percentage/fixed)",
                                                    "type": "string",
                                                    "example": "percentage"
                                                },
                                                "reasons": {
                                                    "description": "Geçersizlik sebepleri (varsa)",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "example": [
                                                        "Minimum sepet tutarı karşılanmadı",
                                                        "Bu kategoride geçerli değil"
                                                    ]
                                                },
                                                "campaign": {
                                                    "description": "Kampanya özet bilgileri",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Kışlık İndirim"
                                                        },
                                                        "type": {
                                                            "type": "string",
                                                            "example": "bundle_discount"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Kampanya bulunamadı",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Belirtilen kampanya bulunamadı"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Kimlik doğrulama gerekli",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
[...]
