{
    "openapi": "3.0.0",
    "info": {
        "title": "B2B/B2C E-Commerce API Documentation",
        "description": "Comprehensive API for B2B and B2C e-commerce platform with multi-currency support, dealer management, and advanced product catalog.",
        "contact": {
            "name": "API Support Team",
            "email": "support@mutfakyapim.net"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://b2bb2c.mutfakyapim.net",
            "description": "Production API Server"
        },
        {
            "url": "http://127.0.0.1:8000",
            "description": "Development API Server"
        }
    ],
    "paths": {
        "/api/v1/addresses": {
            "get": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Get user addresses",
                "description": "Retrieve all addresses for the authenticated user",
                "operationId": "getAddresses",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filter addresses by type",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "shipping",
                                "billing",
                                "both"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Addresses retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AddressResource"
                                            }
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Addresses retrieved successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Create new address",
                "description": "Create a new address for the authenticated user",
                "operationId": "createAddress",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "first_name",
                                    "last_name",
                                    "address_line_1",
                                    "city",
                                    "postal_code",
                                    "country"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Home"
                                    },
                                    "first_name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "John"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Doe"
                                    },
                                    "company_name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "ABC Company",
                                        "nullable": true
                                    },
                                    "phone": {
                                        "type": "string",
                                        "maxLength": 20,
                                        "example": "+90 555 123 4567",
                                        "nullable": true
                                    },
                                    "address_line_1": {
                                        "type": "string",
                                        "example": "123 Main Street"
                                    },
                                    "address_line_2": {
                                        "type": "string",
                                        "example": "Apartment 4B",
                                        "nullable": true
                                    },
                                    "city": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Istanbul"
                                    },
                                    "state": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Istanbul",
                                        "nullable": true
                                    },
                                    "postal_code": {
                                        "type": "string",
                                        "maxLength": 20,
                                        "example": "34000"
                                    },
                                    "country": {
                                        "type": "string",
                                        "maxLength": 2,
                                        "example": "TR"
                                    },
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "shipping",
                                            "billing",
                                            "both"
                                        ],
                                        "example": "both"
                                    },
                                    "is_default_shipping": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "is_default_billing": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "notes": {
                                        "type": "string",
                                        "example": "Ring the doorbell",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Address created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AddressResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Address created successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/addresses/{id}": {
            "get": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Get specific address",
                "description": "Retrieve a specific address by ID",
                "operationId": "getAddress",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Address ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Address retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AddressResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Address retrieved successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Update address",
                "description": "Update a specific address",
                "operationId": "updateAddress",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Address ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Home"
                                    },
                                    "first_name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "John"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Doe"
                                    },
                                    "company_name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "ABC Company",
                                        "nullable": true
                                    },
                                    "phone": {
                                        "type": "string",
                                        "maxLength": 20,
                                        "example": "+90 555 123 4567",
                                        "nullable": true
                                    },
                                    "address_line_1": {
                                        "type": "string",
                                        "example": "123 Main Street"
                                    },
                                    "address_line_2": {
                                        "type": "string",
                                        "example": "Apartment 4B",
                                        "nullable": true
                                    },
                                    "city": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Istanbul"
                                    },
                                    "state": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Istanbul",
                                        "nullable": true
                                    },
                                    "postal_code": {
                                        "type": "string",
                                        "maxLength": 20,
                                        "example": "34000"
                                    },
                                    "country": {
                                        "type": "string",
                                        "maxLength": 2,
                                        "example": "TR"
                                    },
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "shipping",
                                            "billing",
                                            "both"
                                        ],
                                        "example": "both"
                                    },
                                    "is_default_shipping": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "is_default_billing": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "notes": {
                                        "type": "string",
                                        "example": "Ring the doorbell",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Address updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AddressResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Address updated successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Delete address",
                "description": "Delete a specific address (soft delete)",
                "operationId": "deleteAddress",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Address ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Address deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Address deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/addresses/{id}/set-default-shipping": {
            "post": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Set as default shipping address",
                "description": "Set the specified address as the default shipping address",
                "operationId": "setDefaultShipping",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Address ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Default shipping address set successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AddressResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Default shipping address set successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "description": "Address cannot be used for shipping",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "This address cannot be used for shipping"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/addresses/{id}/set-default-billing": {
            "post": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Set as default billing address",
                "description": "Set the specified address as the default billing address",
                "operationId": "setDefaultBilling",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Address ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Default billing address set successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AddressResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Default billing address set successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "description": "Address cannot be used for billing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "This address cannot be used for billing"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/addresses/defaults": {
            "get": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Get default addresses",
                "description": "Get the user's default shipping and billing addresses",
                "operationId": "getDefaultAddresses",
                "responses": {
                    "200": {
                        "description": "Default addresses retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "shipping": {
                                                    "oneOf": [
                                                        {
                                                            "$ref": "#/components/schemas/AddressResource"
                                                        }
                                                    ],
                                                    "nullable": true
                                                },
                                                "billing": {
                                                    "oneOf": [
                                                        {
                                                            "$ref": "#/components/schemas/AddressResource"
                                                        }
                                                    ],
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Default addresses retrieved successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/auth/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User login",
                "description": "Login user and get access token with rate limiting",
                "operationId": "loginUser",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    },
                                    "device_name": {
                                        "type": "string",
                                        "example": "mobile_app"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Login successful"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "1|abc123def456..."
                                                },
                                                "refresh_token": {
                                                    "type": "string",
                                                    "example": "2|xyz789abc123..."
                                                },
                                                "expires_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid credentials"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Validation failed"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too many login attempts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Too many login attempts. Please try again later."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User registration",
                "description": "Register a new user account",
                "operationId": "registerUser",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "example": "password123"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+905551234567"
                                    },
                                    "customer_type": {
                                        "type": "string",
                                        "enum": [
                                            "B2C",
                                            "B2B"
                                        ],
                                        "example": "B2C"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Registration successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Registration successful. Please check your email for verification."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Validation failed"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/refresh": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Refresh access token",
                "description": "Refresh access token using refresh token",
                "operationId": "refreshToken",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "refresh_token"
                                ],
                                "properties": {
                                    "refresh_token": {
                                        "type": "string",
                                        "example": "2|xyz789abc123..."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Token refreshed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "token": {
                                                    "type": "string"
                                                },
                                                "expires_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid refresh token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid refresh token"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/auth/forgot-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Send password reset email",
                "description": "Send password reset link to user's email",
                "operationId": "forgotPassword",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password reset email sent",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Password reset link sent to your email"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Validation failed"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/reset-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Reset password",
                "description": "Reset password using token from email",
                "operationId": "resetPassword",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "token",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "token": {
                                        "type": "string",
                                        "example": "reset-token-here"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "newpassword123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "example": "newpassword123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password reset successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Password reset successful"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Validation failed"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/verify-email": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Verify email address",
                "description": "Verify email address using verification token",
                "operationId": "verifyEmail",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "token"
                                ],
                                "properties": {
                                    "token": {
                                        "type": "string",
                                        "example": "verification-token-here"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Email verified successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Email verified successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid verification token"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/resend-verification": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Resend email verification",
                "description": "Resend email verification link",
                "operationId": "resendVerification",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Verification email sent",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Verification email sent"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Validation failed"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User logout",
                "description": "Logout user and revoke access token",
                "operationId": "logoutUser",
                "responses": {
                    "200": {
                        "description": "Logout successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Logout successful"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/auth/user": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Get current user",
                "description": "Get authenticated user information",
                "operationId": "getCurrentUser",
                "responses": {
                    "200": {
                        "description": "User information retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/campaigns": {
            "get": {
                "tags": [
                    "Kampanyalar"
                ],
                "summary": "Aktif kampanyaları listele",
                "description": "Müşteri tipine göre geçerli kampanyaları getirir",
                "operationId": "617d936d65b29bf3912371d823eceba3",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Kampanya tipi filtresi",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "buy_x_get_y_free",
                                "bundle_discount",
                                "cross_sell"
                            ],
                            "example": "bundle_discount"
                        }
                    },
                    {
                        "name": "customer_type",
                        "in": "query",
                        "description": "Müşteri tipi (B2B: işletme, B2C: bireysel, Guest: misafir)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "b2b",
                                "b2c",
                                "guest"
                            ],
                            "example": "b2c"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Sayfa başına kampanya sayısı (maksimum: 50)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15,
                            "maximum": 50,
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İstek başarıyla tamamlandı",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "İşlem durumu",
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "description": "Başarı mesajı",
                                            "type": "string",
                                            "example": "Kampanyalar başarıyla getirildi"
                                        },
                                        "data": {
                                            "description": "Kampanya verileri",
                                            "properties": {
                                                "current_page": {
                                                    "description": "Mevcut sayfa numarası",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "per_page": {
                                                    "description": "Sayfa başına öğe sayısı",
                                                    "type": "integer",
                                                    "example": 15
                                                },
                                                "total": {
                                                    "description": "Toplam kampanya sayısı",
                                                    "type": "integer",
                                                    "example": 25
                                                },
                                                "campaigns": {
                                                    "description": "Kampanya listesi",
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "description": "Kampanya ID",
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "description": "Kampanya adı",
                                                                "type": "string",
                                                                "example": "Kışlık İndirim Kampanyası"
                                                            },
                                                            "slug": {
                                                                "description": "URL dostu kampanya adı",
                                                                "type": "string",
                                                                "example": "kislik-indirim-kampanyasi"
                                                            },
                                                            "description": {
                                                                "description": "Kampanya açıklaması",
                                                                "type": "string",
                                                                "example": "Kışlık ürünlerde %30'a varan indirim fırsatı"
                                                            },
                                                            "type": {
                                                                "description": "Kampanya türü",
                                                                "type": "string",
                                                                "example": "bundle_discount"
                                                            },
                                                            "status": {
                                                                "description": "Kampanya durumu",
                                                                "type": "string",
                                                                "example": "active"
                                                            },
                                                            "priority": {
                                                                "description": "Öncelik sırası (1 en yüksek)",
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "minimum_cart_amount": {
                                                                "description": "Minimum sepet tutarı (TL)",
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 500
                                                            },
                                                            "starts_at": {
                                                                "description": "Başlangıç tarihi",
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-01-01T00:00:00.000000Z"
                                                            },
                                                            "ends_at": {
                                                                "description": "Bitiş tarihi",
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-01-31T23:59:59.000000Z"
                                                            },
                                                            "days_remaining": {
                                                                "description": "Kalan gün sayısı",
                                                                "type": "integer",
                                                                "example": 15
                                                            },
                                                            "usage_count": {
                                                                "description": "Kullanım sayısı",
                                                                "type": "integer",
                                                                "example": 125
                                                            },
                                                            "usage_limit": {
                                                                "description": "Kullanım limiti",
                                                                "type": "integer",
                                                                "example": 1000
                                                            },
                                                            "progress_percentage": {
                                                                "description": "İlerleme yüzdesi",
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 12.5
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/campaigns/{campaign}": {
            "get": {
                "tags": [
                    "Kampanyalar"
                ],
                "summary": "Kampanya detaylarını getir",
                "description": "Belirli bir kampanyanın tüm detaylarını ve kurallarını getirir",
                "operationId": "c61ae1adb555aa371b98056e538fd573",
                "parameters": [
                    {
                        "name": "campaign",
                        "in": "path",
                        "description": "Kampanya ID'si veya URL dostu adı (slug)",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "kislik-indirim-kampanyasi"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Kampanya detayları başarıyla getirildi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "İşlem durumu",
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "description": "Başarı mesajı",
                                            "type": "string",
                                            "example": "Kampanya detayları getirildi"
                                        },
                                        "data": {
                                            "description": "Kampanya detay verileri",
                                            "properties": {
                                                "id": {
                                                    "description": "Kampanya benzersiz kimliği",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "description": "Kampanya başlığı",
                                                    "type": "string",
                                                    "example": "Kışlık İndirim Kampanyası"
                                                },
                                                "slug": {
                                                    "description": "URL dostu kampanya adı",
                                                    "type": "string",
                                                    "example": "kislik-indirim-kampanyasi"
                                                },
                                                "description": {
                                                    "description": "Kampanya detaylı açıklaması",
                                                    "type": "string",
                                                    "example": "Kışlık ürünlerde %30'a varan indirim fırsatı. Seçili ürünlerde geçerli."
                                                },
                                                "type": {
                                                    "description": "Kampanya türü",
                                                    "type": "string",
                                                    "example": "bundle_discount"
                                                },
                                                "rules": {
                                                    "description": "Kampanya kuralları ve koşulları",
                                                    "type": "object",
                                                    "example": {
                                                        "discount_percentage": 30,
                                                        "min_quantity": 2,
                                                        "max_discount": 500
                                                    }
                                                },
                                                "rewards": {
                                                    "description": "Kampanya ödülleri ve faydaları",
                                                    "type": "object",
                                                    "example": {
                                                        "type": "percentage",
                                                        "value": 30,
                                                        "description": "%30 indirim"
                                                    }
                                                },
                                                "conditions": {
                                                    "description": "Kampanya geçerlilik koşulları",
                                                    "type": "object",
                                                    "example": {
                                                        "min_cart_amount": 500,
                                                        "excluded_categories": [
                                                            "sale"
                                                        ]
                                                    }
                                                },
                                                "customer_types": {
                                                    "description": "Geçerli müşteri tipleri",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "example": [
                                                        "b2c",
                                                        "guest"
                                                    ]
                                                },
                                                "is_stackable": {
                                                    "description": "Diğer kampanyalarla birleştirilebilir mi",
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "products_count": {
                                                    "description": "Kampanyada yer alan ürün sayısı",
                                                    "type": "integer",
                                                    "example": 15
                                                },
                                                "categories_count": {
                                                    "description": "Kampanyada yer alan kategori sayısı",
                                                    "type": "integer",
                                                    "example": 3
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Kampanya bulunamadı",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "İşlem durumu",
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "description": "Hata mesajı",
                                            "type": "string",
                                            "example": "Aradığınız kampanya bulunamadı"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Kampanya erişim yetkisi yok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Bu kampanya sizin müşteri tipiniz için geçerli değil"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/campaigns/{campaign}/validate": {
            "post": {
                "tags": [
                    "Kampanyalar"
                ],
                "summary": "Kampanya geçerliliğini kontrol et",
                "description": "Mevcut sepet içeriğine göre kampanyanın uygulanabilir olup olmadığını kontrol eder ve indirim miktarını hesaplar",
                "operationId": "1c57c9b03bf28ac2675155751ec61720",
                "parameters": [
                    {
                        "name": "campaign",
                        "in": "path",
                        "description": "Kontrol edilecek kampanya ID'si",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "Sepet bilgileri",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "cart_total": {
                                        "description": "Sepet toplam tutarı (TL)",
                                        "type": "number",
                                        "format": "float",
                                        "example": 750
                                    },
                                    "cart_items": {
                                        "description": "Sepetteki ürünler",
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "product_id": {
                                                    "description": "Ürün ID'si",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "variant_id": {
                                                    "description": "Ürün varyant ID'si",
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "quantity": {
                                                    "description": "Ürün adedi",
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "price": {
                                                    "description": "Ürün birim fiyatı (TL)",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 250
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Kampanya geçerlilik kontrolü tamamlandı",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "description": "İşlem durumu",
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "description": "İşlem açıklaması",
                                            "type": "string",
                                            "example": "Kampanya geçerliliği kontrol edildi"
                                        },
                                        "data": {
                                            "description": "Geçerlilik sonuçları",
                                            "properties": {
                                                "is_valid": {
                                                    "description": "Kampanya uygulanabilir mi",
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "applicable_discount": {
                                                    "description": "Uygulanabilir indirim miktarı (TL)",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 75
                                                },
                                                "discount_type": {
                                                    "description": "İndirim türü (percentage/fixed)",
                                                    "type": "string",
                                                    "example": "percentage"
                                                },
                                                "reasons": {
                                                    "description": "Geçersizlik sebepleri (varsa)",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "example": [
                                                        "Minimum sepet tutarı karşılanmadı",
                                                        "Bu kategoride geçerli değil"
                                                    ]
                                                },
                                                "campaign": {
                                                    "description": "Kampanya özet bilgileri",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Kışlık İndirim"
                                                        },
                                                        "type": {
                                                            "type": "string",
                                                            "example": "bundle_discount"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Kampanya bulunamadı",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Belirtilen kampanya bulunamadı"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Kimlik doğrulama gerekli",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/cart": {
            "get": {
                "tags": [
                    "Cart"
                ],
                "summary": "Get current user's cart",
                "description": "Retrieve the current cart for authenticated or guest users with currency conversion",
                "operationId": "getCart",
                "parameters": [
                    {
                        "name": "currency",
                        "in": "query",
                        "description": "Target currency code (e.g., TRY, USD, EUR)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "USD"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cart retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "cart": {
                                                    "type": "object"
                                                },
                                                "summary": {
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Failed to retrieve cart",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Failed to retrieve cart"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Cart"
                ],
                "summary": "Clear entire cart",
                "description": "Remove all items from the user's cart",
                "operationId": "clearCart",
                "responses": {
                    "200": {
                        "description": "Cart cleared successfully"
                    },
                    "500": {
                        "description": "Failed to clear cart"
                    }
                }
            }
        },
        "/api/v1/cart/items": {
            "post": {
                "tags": [
                    "Cart"
                ],
                "summary": "Add item to cart",
                "description": "Add a product variant to the user's cart",
                "operationId": "addItemToCart",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "product_variant_id"
                                ],
                                "properties": {
                                    "product_variant_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "quantity": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "example": 2
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Item added to cart successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Item added to cart successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Failed to add item to cart",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Failed to add item to cart"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/cart/items/{item}": {
            "put": {
                "tags": [
                    "Cart"
                ],
                "summary": "Update item quantity in cart",
                "description": "Update the quantity of an existing cart item",
                "operationId": "updateCartItem",
                "parameters": [
                    {
                        "name": "item",
[...]
